@thm:registry=https://thm.jfrog.io/thm/api/npm/npm-local/
//thm.jfrog.io/thm/api/npm/npm-local/:_authToken=eyJ2ZXIiOiIyIiwidHlwIjoiSldUIiwiYWxnIjoiUlMyNTYiLCJraWQiOiJ2dWwzS3NSeXRhVEc3VG4yT25yUXdaUWhNTWVPcTluMThLcWhqb09Nb21nIn0.eyJzdWIiOiJqZnJ0QDAxYnQzbnhtNTltNGVoMGd4NHBwZjcxZzBxXC91c2Vyc1wvYXJ0aWZhY3RvcnktcmVhZG9ubHkiLCJzY3AiOiJtZW1iZXItb2YtZ3JvdXBzOiogYXBpOioiLCJhdWQiOiJqZnJ0QDAxYnQzbnhtNTltNGVoMGd4NHBwZjcxZzBxIiwiaXNzIjoiamZydEAwMWJ0M254bTU5bTRlaDBneDRwcGY3MWcwcSIsImlhdCI6MTUwNTkzOTAxMiwianRpIjoiMzU5YTQzYzgtOTMxNS00NzFkLWFlZDYtMDM2Nzk3MWIzM2Q2In0.Y74FVKmZnj02JTHiydiOUl3WhyOuwLUKSraiNP7ftBwz-ROStVxFhp_KZuRoGZ6HKddnrIuYHy0wUgkRrEWMDVHU0JswQGEKdUZ1UOXSkwcIM7EsXGiNgyVUDw0FRwL9iF4pXsi_rLlmleEvchxQE2Zn-2Gv_4GRxqutWntrpst3B1ukRSj0qxIgEsZGAhTSpGxFf1LFCGxGrLxlzrDY5dxkOXLAe8k71iNlXIxn38fhamPitzhLaTqEaWnD0gHTK6C2CUpMBEX6691e8EaSN4OKEJPshz_b6khJU94P7tP7ZStxPIad4hYM1nT-lZs3wRxDda_E6D4eVgeHRb5Lfg
